.header {
    border-bottom: 1px solid #F2F4F7;
    background-color: #F7F7F7;
}

.inner {
    display: flex;
    align-items: center;
    height: 72px;
}

.logoIcon {
    width: 136px;
}

.nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 32px;
    align-items: center;
}

.link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.link.active {
    color: var(--color-accent);
}

.link:hover {
    color: var(--color-accent);
}