.catalogPage {
    display: grid;
    grid-template-columns: 360px 1fr;
    gap: 64px;
    margin-top: 48px;
}

.camperList {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0;
    margin-bottom: 40px;
}