.badge {
    color: var(--color-text-main);
    font-size: 16px;
    font-weight: 500;
    padding: 12px 18px;
    border-radius: 100px;
    background: #F2F4F7;
    font-weight: 500;
    line-height: 24px;
    height: 48px;

}