.badge {
    display: inline-flex;
    align-items: center;
    color: var(--color-text-main);
    font-size: 16px;
    font-weight: 500;
    padding: 12px 18px;
    border-radius: 100px;
    background: #F2F4F7;
    font-weight: 500;
    line-height: 1;
    gap: 8px;
}

.icon {
    display: block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}