*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    color: var(--color-text-main);
    background-color: var(--color-bg);
    min-width: 320px;
    min-height: 100vh;
}

.container {
    max-width: 1440px;
    padding: 0 64px;
    margin: 0 auto;
}

.catalog {
    display: grid;
    grid-template-columns: 360px 1fr;
    gap: 64px;
}

.camper-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

.search-button {
    font-family: inherit;
    cursor: pointer;
    background-color: #E44848;
    width: 166px;
    height: 56px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border: none;
    border-radius: 200px;
    padding-top: 16px;
    padding-right: 40px;
    padding-bottom: 16px;
    padding-left: 40px;
    text-align: center;
    vertical-align: middle;
}

.search-button:hover {
    background-color: #D84343;
}

input[type="text"],
input[type="email"],
input[type="date"],
textarea {
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 16px;
    border: 1px solid transparent;
    border-radius: 12px;
    width: 100%;
    background: #F7F7F7;
    padding-top: 18px;
    padding-right: 20px;
    padding-bottom: 18px;
    padding-left: 20px;

}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
textarea:focus {
    border: 1px solid var(--color-accent);
    outline: none;
}

input::placeholder,
textarea::placeholder {
    color: #6C717B;
}



@media (max-width: 1024px) {
    .container {
        padding: 0 32px;
    }

    .catalog {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 16px;
    }

    .nav {
        gap: 16px;
    }
}