.title {
    margin-bottom: 28px;
}

.title h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.inforow {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.rating {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.rating .icon,
.location .icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.location {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.price {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}

.images {
    display: flex;
    gap: 48px;
    overflow-x: auto;
    margin-bottom: 28px;
}

.images img {
    width: 292px;
    height: 312px;
    border-radius: 10px;
    object-fit: cover;
}

.description {
    color: var(--color-text-secondary);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 60px;
}

.tabs nav {
    display: flex;
    gap: 40px;
    border-bottom: 1px solid #DADDE1;
}

.tablink {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-text-primary);
    border-bottom: 5px solid transparent;
    padding-bottom: 24px;
}

.tablink.active {
    border-color: var(--color-accent);
}

.tablink:hover {
    border-color: var(--color-accent);
}

.tabContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 40px;
    margin-top: 44px;
    margin-bottom: 60px;
}