.form {
    border: 1px solid #DADDE1;
    border-radius: 10px;
    padding: 44px;
}

.title {
    margin-bottom: 24px;
}

.title h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-text-main);
}

.title p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6C717B;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.inputs button {
    margin: auto;
}

.inputs textarea {
    resize: vertical;
    min-height: 118px;
}