.card {
    border: 1px solid var(--color-border);
    border-radius: 20px;
    padding: 24px;
    display: flex;
    gap: 24px;
}

.card:hover {
    transform: translateY(-2px);
}

.image img {
    width: 292px;
    height: 320px;
    overflow: hidden;
    border-radius: 10px;
    object-fit: cover;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inforow {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.description {
    color: var(--color-text-secondary);
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

.price {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}

.fav {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: auto;
}

.location {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.rating {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.rating .icon,
.location .icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.features {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.icon {
    width: 24px;
    height: 24px;
}