.card {
    height: 400px;
    border-radius: 20px;
    background: linear-gradient(90deg,
            #f0f0f0 25%,
            #e0e0e0 37%,
            #f0f0f0 63%);
    background-size: 400% 100%;
    animation: shimmer 1.4s ease infinite;
    margin-bottom: 32px;
}

@keyframes shimmer {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -100% 0;
    }
}