.hero {
    background-image: url('/images/hero.png');
    background-color: #f5f5f5;
    padding: 64px;
    height: 696px;
    align-content: center;
}

.content {
    margin-bottom: 56px;
}

.title {
    font-weight: 600;
    font-size: 48px;
    line-height: 32px;
    color: #F7F7F7;
    margin-bottom: 16px;
}

.subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #F7F7F7;
    margin: 0px;
}